$color-pr: #4285f4;
$color-sec: #383838;
$color-header: #f8f8f8;
$color-header-menu: #f8f8f8;
$color-header-site-text: #696969;

// Footer
$color-footer-bg: white;
$color-footer-nav-bg: #e0e0e0;
$color-footer-nav-text: #404040;
$color-footer-copyright-bg: #404040;
$color-footer-block-content-text: white;
