@import 'fonts';
@import 'settings';
@import 'settings_landing';
@import 'base';

.standalone-subscriber-holder{
  max-width: 500px;
  margin: 0 auto;
  .details{
    & > .wrapper{
      & > div {
        margin: 0 0 15px 0;
      }
    }
  }
  .sub-button{
    button {
      height: 100%;
      width: 100%;
      background: #727778;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
      border: none;
      padding: 12px;

      i {
        font-size: 32px;
        vertical-align: sub;
        margin-left: 10px;
      }

      &:hover{
        background: #535353;
      }
    }
  }
  .inp-wrapper{
    border: 0.5px solid #939393;
    position: relative;

    input{
      line-height: 34px;
      height: 34px;
      padding: 0 15px 0 40px;
      border: none;
      background: none;
      color: black;
      width: 100%;
      display: block;
    }

    .ico{
      position: absolute;
      padding: 0 10px;
      border-right: 0.5px solid #939393;
      top: 50%;
      pointer-events: none;
      -webkit-transform:translateY(-50%);
      transform:translateY(-50%);
    }
  }
  .select-wrapper{
    border: 0.5px solid #939393;
    position: relative;
    select{
      line-height: 34px;
      height: 34px;
      padding: 0px 47px 0 10px;
      border: none;
      background: none;
      color: black;
      width: 100%;
      display: block;
      cursor: pointer;
    }

    select {
      /* for Firefox */
      -moz-appearance: none;
      /* for Chrome */
      -webkit-appearance: none;
    }

    /* For IE10 */
    select::-ms-expand {
      display: none;
    }

    .ico{
      position: absolute;
      padding: 0 10px;
      border-left: 0.5px solid #939393;
      top: 50%;
      right: 1px;
      height: 34px;
      line-height: 34px;
      font-size: 24px;
      pointer-events: none;
      -webkit-transform:translateY(-50%);
      transform:translateY(-50%);
      background: #f5f5f5;
    }
  }
}
.subs-error{
  margin: 10px 0;
  background: #ff6060;
  color: white;
  padding: 15px;

  a{
    color: white;
  }
}
.subs-success{
  margin: 10px 0;
  background: #59a05c;
  color: white;
  padding: 15px;
  a{
    color: white;
  }
}

@import 'responsive';
