@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
/* line 1, sass/_base.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 4, sass/_base.scss */
.fusion-header-wrapper {
  background: #2d2d2d;
  color: #e3c18b;
  border-top: 3px solid #d9aa61;
}

/* line 10, sass/_base.scss */
.header-container > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 19, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 60px;
  line-height: 60px;
}
/* line 27, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site {
  height: 100%;
  padding: 0 1px;
}
/* line 30, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site a {
  display: block;
  height: 100%;
  padding: 0 15px;
  color: white;
  background: #474747;
}
/* line 37, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site a a:hover {
  color: white;
}
/* line 46, sass/_base.scss */
.header-container .menu {
  height: 60px;
}
/* line 48, sass/_base.scss */
.header-container .menu .menu-fomenu-container {
  height: 100%;
}
/* line 51, sass/_base.scss */
.header-container .menu a, .header-container .menu a:visited, .header-container .menu a:hover {
  color: #deb576;
  font-weight: 300;
}
/* line 55, sass/_base.scss */
.header-container .menu ul, .header-container .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
/* line 62, sass/_base.scss */
.header-container .menu a {
  display: block;
  padding: 0 20px;
  height: 100%;
  line-height: 60px;
}
/* line 68, sass/_base.scss */
.header-container .menu ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}
/* line 76, sass/_base.scss */
.header-container .menu ul.menu > li {
  border-right: 0.5px solid #c0862e;
}
/* line 81, sass/_base.scss */
.header-container .menu ul.sub-menu {
  display: none;
}

/* line 90, sass/_base.scss */
.fusion-main-menu > a,
.fusion-main-menu .menu-item > a {
  text-transform: uppercase;
  font-weight: 300;
}

/* line 94, sass/_base.scss */
.fusion-main-menu > ul > li {
  padding: 15px 0 !important;
}

/* line 97, sass/_base.scss */
.fusion-main-menu > ul > li > a {
  padding: 0 12px !important;
  border-right: 1px solid #efe6d3;
}

/* line 101, sass/_base.scss */
.fusion-main-menu > ul > li:last-child > a {
  border-right: none !important;
}

/* line 104, sass/_base.scss */
.fusion-main-menu > ul > li.current-menu-item > a {
  font-weight: bold;
}

/* line 107, sass/_base.scss */
.fusion-secondary-main-menu {
  background-color: transparent !important;
}

/* line 116, sass/_base.scss */
.info-box-bg h3 {
  font-size: 26px !important;
}
/* line 120, sass/_base.scss */
.info-box-bg .info-text-big {
  font-size: 22px;
  line-height: 1.3;
  color: #3b3b3b;
}

/* line 127, sass/_base.scss */
.fusion-title.fusion-sep-none {
  position: relative;
}

/* line 131, sass/_base.scss */
.fusion-header-tagline {
  font-weight: 400 !important;
}

/* line 135, sass/_base.scss */
.square-btn-big {
  font-weight: 800 !important;
  font-family: 'Open Sans' !important;
}

/* line 139, sass/_base.scss */
.rest-page-width {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto !important;
}

/* line 145, sass/_base.scss */
.abs-img-cont img {
  margin-top: -60px !important;
}

/* line 150, sass/_base.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 154, sass/_base.scss */
.big-bold-opensans h2 {
  font-family: 'Open Sans';
  font-size: 28px !important;
  font-weight: 800 !important;
}

/* line 160, sass/_base.scss */
.contact-block-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #231f20;
}
/* line 168, sass/_base.scss */
.contact-block-holder a {
  color: #231f20;
}
/* line 172, sass/_base.scss */
.contact-block-holder .contact {
  flex-basis: 30%;
}
/* line 175, sass/_base.scss */
.contact-block-holder .contact-form {
  flex-basis: 70%;
}
/* line 178, sass/_base.scss */
.contact-block-holder i {
  color: #deb576;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 8px;
}
/* line 186, sass/_base.scss */
.contact-block-holder h3, .contact-block-holder h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
/* line 192, sass/_base.scss */
.contact-block-holder h3 {
  color: #deb576;
  font-size: 30px;
  line-height: 1.2;
}
/* line 197, sass/_base.scss */
.contact-block-holder h4 {
  color: #231f20;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 25px;
}
/* line 204, sass/_base.scss */
.contact-block-holder .items {
  font-size: 0.9em;
}
/* line 207, sass/_base.scss */
.contact-block-holder .items > div {
  line-height: 1;
  margin: 18px 0;
}

/* line 214, sass/_base.scss */
.alert-danger {
  color: #ffffff;
  background-color: #ff7373;
  border-color: #f1605e;
}

/* line 221, sass/_base.scss */
.contact-form-holder .requester-holder {
  background: #f1f1f2;
  padding: 20px;
  margin: 0 auto;
}
/* line 227, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input, .contact-form-holder .requester-holder .flxtbl textarea {
  line-height: 45px;
  height: 45px;
  border: none;
  padding: 0 10px;
  color: #a99d84;
  margin-bottom: 5px;
  width: 100%;
  max-width: 100%;
}
/* line 236, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input::-webkit-input-placeholder, .contact-form-holder .requester-holder .flxtbl textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6d6e70;
}
/* line 239, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input::-moz-placeholder, .contact-form-holder .requester-holder .flxtbl textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #6d6e70;
}
/* line 242, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input:-ms-input-placeholder, .contact-form-holder .requester-holder .flxtbl textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #6d6e70;
}
/* line 245, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input:-moz-placeholder, .contact-form-holder .requester-holder .flxtbl textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #6d6e70;
}
/* line 249, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input.missing, .contact-form-holder .requester-holder .flxtbl textarea.missing {
  outline: 2px solid #ffa2a2;
}
/* line 253, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl textarea {
  line-height: 1.4;
  padding: 10px;
  font-size: 0.8em;
  min-height: 80px;
}
/* line 259, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input[type=number] {
  font-size: 0.8em;
}
/* line 265, sass/_base.scss */
.contact-form-holder .btns {
  text-align: center;
}
/* line 267, sass/_base.scss */
.contact-form-holder .btns #mail-msg {
  margin: 15px auto;
}
/* line 270, sass/_base.scss */
.contact-form-holder .btns button {
  cursor: pointer;
  border: 2px solid #6d6e70;
  background: transparent;
  color: #6d6e70;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 25px 0 0 0;
  font-family: 'Open Sans', sans-serif;
}
/* line 281, sass/_base.scss */
.contact-form-holder .btns button.sended {
  border: 2px solid #2e8643;
  background: #53af69;
  color: #ffffff;
}
/* line 286, sass/_base.scss */
.contact-form-holder .btns button.sended i {
  color: white;
}
