@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
/* line 1, sass/_base.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 4, sass/_base.scss */
#main {
  padding: 30px 0 !important;
}

/* line 7, sass/_base.scss */
.fusion-header {
  background: #383838 !important;
  padding: 0;
}

/* line 11, sass/_base.scss */
.fusion-header-wrapper {
  background: #383838;
  color: #e3c18b;
  border-top: 2px solid #d9aa61;
}

/* line 17, sass/_base.scss */
.header-container > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 26, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 60px;
  line-height: 60px;
}
/* line 34, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site {
  height: 100%;
  padding: 0 1px;
}
/* line 37, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site a {
  display: block;
  height: 100%;
  padding: 0 25px;
  color: #eaeaea;
  background: #5e5e5e;
  border-top: 2px solid #deb576;
  margin-top: -2px;
}
/* line 46, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site a a:hover {
  color: white;
}
/* line 52, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.current-site a {
  background: none;
}
/* line 58, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.site-gastro a {
  border-top: 2px solid #deb576;
}
/* line 63, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.site-consulting a {
  border-top: 2px solid #4285f4;
}
/* line 68, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.site-sport a {
  border-top: 2px solid #c73b3b;
}
/* line 75, sass/_base.scss */
.header-container > .wrapper > .site-navs a.logo img {
  max-height: 40px;
  height: 40px;
  vertical-align: middle;
  margin-top: -4px;
}
/* line 84, sass/_base.scss */
.header-container > .wrapper > .menu {
  flex: 1;
}
/* line 88, sass/_base.scss */
.header-container > .wrapper > .social {
  flex-basis: 200px;
  text-align: right;
  line-height: 60px;
  padding: 0 15px 0 0;
}
/* line 93, sass/_base.scss */
.header-container > .wrapper > .social .fusion-social-networks-wrapper {
  margin: 0;
}
/* line 95, sass/_base.scss */
.header-container > .wrapper > .social .fusion-social-networks-wrapper > a {
  background: #deb576;
  color: white !important;
  padding: 5px;
  font-size: 12px;
  margin: 0 5px;
  border-radius: 30px;
}
/* line 107, sass/_base.scss */
.header-container .menu {
  height: 60px;
}
/* line 109, sass/_base.scss */
.header-container .menu .menu-fomenu-container {
  height: 100%;
}
/* line 112, sass/_base.scss */
.header-container .menu a, .header-container .menu a:visited, .header-container .menu a:hover {
  color: #deb576;
  font-weight: 300;
}
/* line 116, sass/_base.scss */
.header-container .menu ul, .header-container .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 122, sass/_base.scss */
.header-container .menu ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}
/* line 130, sass/_base.scss */
.header-container .menu ul.menu > li {
  border-right: 0.5px solid #525252;
  height: 100%;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 137, sass/_base.scss */
.header-container .menu ul.menu > li.current_page_item {
  box-shadow: inset 0 -4px 0 #deb576;
}
/* line 141, sass/_base.scss */
.header-container .menu ul.menu > li:hover {
  background: #1f1f1f;
}
/* line 145, sass/_base.scss */
.header-container .menu ul.menu > li > a {
  display: block;
  padding: 0 20px;
  height: 100%;
  line-height: 1;
  font-weight: 300 !important;
}
/* line 152, sass/_base.scss */
.header-container .menu ul.menu > li > a .ico {
  text-align: center;
  margin: 12px 0 5px 0;
}
/* line 155, sass/_base.scss */
.header-container .menu ul.menu > li > a .ico i {
  font-size: 15px;
}
/* line 161, sass/_base.scss */
.header-container .menu ul.menu > li > .sub-menu {
  position: absolute;
  left: 0;
  min-width: 200px;
  max-width: 320px;
  top: 60px;
}
/* line 169, sass/_base.scss */
.header-container .menu ul.menu > li > .sub-menu > li > a {
  background: #1f1f1f;
  padding: 10px;
  display: block;
  font-size: 0.8em;
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 178, sass/_base.scss */
.header-container .menu ul.menu > li > .sub-menu > li > a:hover {
  background: #deb576;
  color: black;
}
/* line 187, sass/_base.scss */
.header-container .menu ul.menu > li:hover > .sub-menu {
  display: block;
}
/* line 194, sass/_base.scss */
.header-container .menu ul.sub-menu {
  display: none;
}

/* line 201, sass/_base.scss */
.pagination {
  text-align: center;
  margin: 10px auto;
  width: 100%;
}
/* line 205, sass/_base.scss */
.pagination > ul {
  list-style: none;
}
/* line 207, sass/_base.scss */
.pagination > ul li {
  list-style: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 2px;
}
/* line 214, sass/_base.scss */
.pagination > ul li a {
  display: block;
  padding: 0 10px;
  text-align: center;
  line-height: 30px;
  background: #ffffff;
  color: black;
  border: 0.5px solid #d8d8d8;
  border-radius: 0;
  text-decoration: none;
}
/* line 227, sass/_base.scss */
.pagination > ul li:hover a {
  color: white;
  background: #383838;
}
/* line 233, sass/_base.scss */
.pagination > ul li.active a {
  background: #deb576;
  color: white;
}

/* line 243, sass/_base.scss */
.fusion-main-menu > a,
.fusion-main-menu .menu-item > a {
  text-transform: uppercase;
  font-weight: 300;
}

/* line 247, sass/_base.scss */
.fusion-main-menu > ul > li {
  padding: 15px 0 !important;
}

/* line 250, sass/_base.scss */
.fusion-main-menu > ul > li > a {
  padding: 0 12px !important;
  border-right: 1px solid #efe6d3;
}

/* line 254, sass/_base.scss */
.fusion-main-menu > ul > li:last-child > a {
  border-right: none !important;
}

/* line 257, sass/_base.scss */
.fusion-main-menu > ul > li.current-menu-item > a {
  font-weight: bold;
}

/* line 260, sass/_base.scss */
.fusion-secondary-main-menu {
  background-color: transparent !important;
}

/* line 269, sass/_base.scss */
.info-box-bg h3 {
  font-size: 26px !important;
}
/* line 273, sass/_base.scss */
.info-box-bg .info-text-big {
  font-size: 22px;
  line-height: 1.3;
  color: #3b3b3b;
}

/* line 280, sass/_base.scss */
.fusion-title.fusion-sep-none {
  position: relative;
}

/* line 284, sass/_base.scss */
.fusion-header-tagline {
  font-weight: 400 !important;
}

/* line 288, sass/_base.scss */
.square-btn-big {
  font-weight: 800 !important;
  font-family: 'Open Sans' !important;
}

/* line 292, sass/_base.scss */
.rest-page-width {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto !important;
}

/* line 298, sass/_base.scss */
.abs-img-cont img {
  margin-top: -60px !important;
}

/* line 303, sass/_base.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 307, sass/_base.scss */
.big-bold-opensans h2 {
  font-family: 'Open Sans';
  font-size: 28px !important;
  font-weight: 800 !important;
}

/* line 313, sass/_base.scss */
.contact-block-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #231f20;
}
/* line 321, sass/_base.scss */
.contact-block-holder a {
  color: #231f20;
}
/* line 325, sass/_base.scss */
.contact-block-holder .contact {
  flex-basis: 30%;
}
/* line 328, sass/_base.scss */
.contact-block-holder .contact-form {
  flex-basis: 70%;
}
/* line 331, sass/_base.scss */
.contact-block-holder i {
  color: #deb576;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 8px;
}
/* line 339, sass/_base.scss */
.contact-block-holder h3, .contact-block-holder h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
/* line 345, sass/_base.scss */
.contact-block-holder h3 {
  color: #deb576;
  font-size: 30px;
  line-height: 1.2;
}
/* line 350, sass/_base.scss */
.contact-block-holder h4 {
  color: #231f20;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 25px;
}
/* line 357, sass/_base.scss */
.contact-block-holder .items {
  font-size: 0.9em;
}
/* line 360, sass/_base.scss */
.contact-block-holder .items > div {
  line-height: 1;
  margin: 18px 0;
}

/* line 367, sass/_base.scss */
.alert-danger {
  color: #ffffff;
  background-color: #ff7373;
  border-color: #f1605e;
}

/* line 374, sass/_base.scss */
.contact-form-holder .requester-holder {
  background: #f1f1f2;
  padding: 20px;
  margin: 0 auto;
}
/* line 380, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input, .contact-form-holder .requester-holder .flxtbl textarea {
  line-height: 45px;
  height: 45px;
  border: none;
  padding: 0 10px;
  color: #a99d84;
  margin-bottom: 5px;
  width: 100%;
  max-width: 100%;
}
/* line 389, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input::-webkit-input-placeholder, .contact-form-holder .requester-holder .flxtbl textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6d6e70;
}
/* line 392, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input::-moz-placeholder, .contact-form-holder .requester-holder .flxtbl textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #6d6e70;
}
/* line 395, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input:-ms-input-placeholder, .contact-form-holder .requester-holder .flxtbl textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #6d6e70;
}
/* line 398, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input:-moz-placeholder, .contact-form-holder .requester-holder .flxtbl textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #6d6e70;
}
/* line 402, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input.missing, .contact-form-holder .requester-holder .flxtbl textarea.missing {
  outline: 2px solid #ffa2a2;
}
/* line 406, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl textarea {
  line-height: 1.4;
  padding: 10px;
  font-size: 0.8em;
  min-height: 80px;
}
/* line 412, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input[type=number] {
  font-size: 0.8em;
}
/* line 418, sass/_base.scss */
.contact-form-holder .btns {
  text-align: center;
}
/* line 420, sass/_base.scss */
.contact-form-holder .btns #mail-msg {
  margin: 15px auto;
}
/* line 423, sass/_base.scss */
.contact-form-holder .btns button {
  cursor: pointer;
  border: 2px solid #6d6e70;
  background: transparent;
  color: #6d6e70;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 25px 0 0 0;
  font-family: 'Open Sans', sans-serif;
}
/* line 434, sass/_base.scss */
.contact-form-holder .btns button.sended {
  border: 2px solid #2e8643;
  background: #53af69;
  color: #ffffff;
}
/* line 439, sass/_base.scss */
.contact-form-holder .btns button.sended i {
  color: white;
}

/* line 447, sass/_base.scss */
.fusion-footer-widget-area {
  background: white;
  border-top-width: 0 !important;
  padding: 30px !important;
}

/* line 452, sass/_base.scss */
.fusion-footer-copyright-area {
  background: #2d2d2d;
  color: #deb576 !important;
  padding: 15px;
  border-top: none !important;
}

/* line 458, sass/_base.scss */
.fusion-copyright-notice {
  color: #deb576 !important;
}

/* line 463, sass/_base.scss */
footer .fusion-social-networks {
  margin: 0 !important;
}
/* line 466, sass/_base.scss */
footer .fusion-social-networks-wrapper {
  margin: 0 !important;
}
/* line 468, sass/_base.scss */
footer .fusion-social-networks-wrapper > a {
  background: #deb576;
  color: white !important;
  padding: 5px !important;
  font-size: 12px !important;
  margin: 0 5px !important;
  border-radius: 30px !important;
}

/* line 480, sass/_base.scss */
.fusion-footer .footer-nav {
  background: #bf9452;
  color: white;
  padding: 15px 0;
}
/* line 485, sass/_base.scss */
.fusion-footer .footer-nav a, .fusion-footer .footer-nav a:visited {
  color: white;
}
/* line 488, sass/_base.scss */
.fusion-footer .footer-nav > .fusion-row {
  max-width: 1100px;
}
/* line 492, sass/_base.scss */
.fusion-footer .footer-nav ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 500, sass/_base.scss */
.fusion-footer .footer-nav ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 504, sass/_base.scss */
.fusion-footer .footer-nav ul.menu li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
/* line 510, sass/_base.scss */
.fusion-footer .footer-nav ul.menu li a:hover {
  color: #e8d9c2;
}

/* line 519, sass/_base.scss */
.fusion-copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* line 526, sass/_base.scss */
.fusion-copyright-content > div.fusion-social-links-footer {
  flex-basis: 140px;
}
/* line 529, sass/_base.scss */
.fusion-copyright-content > div.fusion-copyright-notice {
  flex-basis: 40%;
}
/* line 532, sass/_base.scss */
.fusion-copyright-content > div.footer-custom-contacts {
  flex: 1;
}

/* line 537, sass/_base.scss */
.footer-custom-contacts {
  font-size: 0.8em;
  color: #e8cb9f;
}
/* line 540, sass/_base.scss */
.footer-custom-contacts a, .footer-custom-contacts a:visited {
  color: #e8cb9f;
}
/* line 543, sass/_base.scss */
.footer-custom-contacts > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/* line 551, sass/_base.scss */
.footer-custom-contacts > .wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 1.2;
  padding: 0 5px;
}
/* line 561, sass/_base.scss */
.footer-custom-contacts > .wrapper > div .ico i {
  font-size: 25px;
  margin: 0 10px 0 0;
}

/* line 570, sass/_base.scss */
.footer-block-content {
  background: #deb576;
  color: white;
  position: relative;
  padding: 25px 0;
}
/* line 576, sass/_base.scss */
.footer-block-content .fake-bg {
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  height: 100%;
  bottom: 0;
  background: #2b2b2b;
  z-index: 1;
}
/* line 586, sass/_base.scss */
.footer-block-content > .wrapper {
  position: relative;
  z-index: 2;
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 597, sass/_base.scss */
.footer-block-content > .wrapper > div {
  flex-basis: 50%;
}
/* line 600, sass/_base.scss */
.footer-block-content > .wrapper > div h3 {
  font-size: 1.4em;
  margin: 0;
}
/* line 605, sass/_base.scss */
.footer-block-content > .wrapper > div div.div {
  height: 5px;
  background: #d49f4d;
  display: block;
  width: 30%;
  margin: 10px 0;
  float: left;
}
/* line 614, sass/_base.scss */
.footer-block-content > .wrapper > div .cont {
  margin: 20px 0 0 0;
}
/* line 618, sass/_base.scss */
.footer-block-content > .wrapper > div:first-child {
  padding: 0 25px 0 0;
}
/* line 621, sass/_base.scss */
.footer-block-content > .wrapper > div:last-child {
  padding: 0 0 0 25px;
}
/* line 625, sass/_base.scss */
.footer-block-content .gallery {
  position: relative;
}
/* line 627, sass/_base.scss */
.footer-block-content .gallery .inav {
  position: absolute;
  right: 0;
  top: 10px;
}
/* line 631, sass/_base.scss */
.footer-block-content .gallery .inav a {
  color: white;
}

/* line 639, sass/_base.scss */
.group-widget-logos-holder > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 647, sass/_base.scss */
.group-widget-logos-holder > .wrapper > div {
  flex-basis: calc(100% / 3);
  text-align: center;
}
/* line 650, sass/_base.scss */
.group-widget-logos-holder > .wrapper > div a {
  display: block;
  text-align: center;
}
/* line 654, sass/_base.scss */
.group-widget-logos-holder > .wrapper > div a img {
  width: auto;
  height: 150px;
  margin: 0 auto;
}

/* line 664, sass/_base.scss */
.fusion-modal h1, .fusion-page-title-bar h1, .fusion-widget-area h1, .post-content h1 {
  font-size: 2.2em;
  color: black;
  font-weight: bold;
  position: relative;
}
/* line 670, sass/_base.scss */
.fusion-modal h1:after, .fusion-page-title-bar h1:after, .fusion-widget-area h1:after, .post-content h1:after {
  content: "";
  height: 5px;
  background: #deb576;
  width: 40%;
  position: absolute;
  left: 0;
  bottom: -10px;
}

/* line 681, sass/_base.scss */
.programs-slider-controller {
  background: #e8e8e8;
}
/* line 683, sass/_base.scss */
.programs-slider-controller > .wrapper {
  width: 1100px;
  margin: 0 auto;
}

/* line 689, sass/_base.scss */
.divided-title {
  border-bottom: none !important;
}
/* line 691, sass/_base.scss */
.divided-title h1 {
  font-size: 1.8em !important;
  text-transform: uppercase !important;
  color: #2d2d2d;
}
/* line 695, sass/_base.scss */
.divided-title h1:after {
  width: 20% !important;
  left: 50%;
  transform: translateX(-50%);
  background: #c99c58 !important;
}

/* line 705, sass/_base.scss */
.program-slider-holder .nav-slides {
  width: 1100px;
  margin: 0 auto;
}
/* line 708, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 714, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide {
  flex-basis: calc(100% / 3);
  text-align: center;
  border-top: 4px solid #deb576;
  border-right: 0.5px solid #deb576;
}
/* line 721, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper a {
  padding: 15px;
  color: #273034;
  text-decoration: none;
  display: block;
}
/* line 729, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .ico i {
  color: #d49f4d;
  font-size: 15px;
}
/* line 735, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .title {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 740, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .subtitle {
  font-size: 0.9em;
  margin-top: 5px;
}
/* line 746, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide:last-child {
  border-right: none !important;
}
/* line 750, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide.active {
  background: white;
}
/* line 757, sass/_base.scss */
.program-slider-holder .programs-slider-views {
  background: white;
  padding: 30px 0 0 0;
}
/* line 760, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper {
  width: 1100px;
  margin: 0 auto;
}
/* line 764, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .header {
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 2px solid #deb576;
}
/* line 769, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .header .title {
  font-weight: bold;
  color: #273034;
  font-size: 1.8em;
}
/* line 776, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide {
  display: none;
  font-size: 0.9em;
}
/* line 781, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}
/* line 788, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > div {
  padding: 0 10px;
}
/* line 792, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image {
  flex-basis: 25%;
}
/* line 794, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image a {
  display: block;
}
/* line 798, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image .wrapper {
  height: 13vh;
  position: relative;
  overflow: hidden;
}
/* line 803, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image img {
  width: auto;
  max-width: initial;
  height: 110%;
  max-height: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 815, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .params {
  flex-basis: 25%;
}
/* line 818, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .info {
  flex: 1;
}
/* line 822, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header {
  border-bottom: 0.5px solid #deb576;
}
/* line 824, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header .title {
  text-transform: uppercase;
  font-size: 1.1em;
}
/* line 828, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header .title i {
  color: #d49f4d;
  font-size: 15px;
}
/* line 835, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .c {
  line-height: 1.4;
  margin: 0 0 10px 0;
}
/* line 842, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide.active {
  display: block;
}
/* line 846, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide a.more {
  background: #2d2d2d;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
}
/* line 853, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide a.more:hover {
  background: #deb576;
}

/* line 869, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
}
/* line 875, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper > div {
  flex-basis: calc(100% / 3);
  text-align: center;
  font-size: 0.9em;
}
/* line 880, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper > div .v {
  font-size: 2.4em !important;
  margin: 0 0 10px 0 !important;
}
/* line 884, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper > div .stext {
  font-weight: 300;
}
/* line 891, sass/_base.scss */
.program-slider-helper-holder.ctrl-jelentkezes {
  text-align: center;
  line-height: 60px !important;
}
/* line 894, sass/_base.scss */
.program-slider-helper-holder.ctrl-jelentkezes a {
  display: block;
  color: white;
  text-align: center;
  font-size: 2.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 907, sass/_base.scss */
.program-list-holder > .holder > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  align-items: initial;
}
/* line 915, sass/_base.scss */
.program-list-holder > .holder > .list > .no-item {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.3em;
}
/* line 920, sass/_base.scss */
.program-list-holder > .holder > .list > .no-item h2 {
  font-weight: bold;
  color: black;
  line-height: 1;
  margin: 0 0 15px 0;
}
/* line 928, sass/_base.scss */
.program-list-holder > .holder > .list > div {
  flex-basis: calc(100% / 3);
  padding: 0 10px;
}
/* line 932, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper {
  background: white;
  border: 0.8px solid #e0cfb6;
  height: 100%;
}
/* line 938, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image a {
  display: block;
}
/* line 942, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper {
  height: 18vh;
  position: relative;
  overflow: hidden;
}
/* line 947, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper .idopont {
  position: absolute;
  left: 15px;
  background: #deb576;
  text-align: center;
  font-size: 0.8em;
  color: white;
  top: 15px;
  padding: 5px;
  z-index: 2;
  line-height: 1.1;
}
/* line 959, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper .idopont .ev {
  font-size: 0.8em;
  font-weight: 300px;
}
/* line 964, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper .idopont .ho {
  font-weight: bold;
  margin: 5px 0 0 0;
}
/* line 969, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper .idopont .nap {
  font-weight: bold;
  font-size: 1.3em;
}
/* line 975, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper .cimke {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
/* line 981, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper .cimke .h {
  padding: 4px 8px;
  font-size: 0.7em;
  background: #8c8c8c;
  color: white;
}
/* line 989, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image img {
  width: auto;
  max-width: initial;
  height: 110%;
  max-height: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1002, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas {
  padding: 10px 15px;
  font-size: 0.8em;
}
/* line 1006, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas .title {
  margin: 0 0 10px 0;
}
/* line 1007, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas .title a {
  font-weight: bold;
  color: #272727;
  font-size: 1.3em;
}
/* line 1015, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas .desc {
  height: 80px;
  max-height: 80px;
  overflow: hidden;
  line-height: 1.2;
}
/* line 1023, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: initial;
  border-top: 0.5px solid #e5d3b5;
}
/* line 1031, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button {
  flex-basis: 35%;
}
/* line 1034, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button a {
  display: block;
  height: 100%;
  background: #272727;
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 1047, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button a .t {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1055, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button a:after {
  display: none;
}
/* line 1061, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .info {
  flex: 1;
  font-size: 0.7em;
  padding: 10px;
  color: #d49f4d;
}
/* line 1067, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .info i {
  width: 24px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
/* line 1083, sass/_base.scss */
.program-list-holder.style-single-row > .holder > .list > div {
  flex-basis: 100%;
  padding: 10px;
}

/* line 1093, sass/_base.scss */
.lastminute-program-holder > .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 40px;
}
/* line 1100, sass/_base.scss */
.lastminute-program-holder > .holder > .kedv {
  flex-basis: 30%;
  border: 1px dashed #deb576;
  border-top: none;
  border-bottom: none;
  border-left: 1px dashed #adadad;
}
/* line 1107, sass/_base.scss */
.lastminute-program-holder > .holder > .kedv > .wrapper {
  padding: 5px 15px;
}
/* line 1111, sass/_base.scss */
.lastminute-program-holder > .holder > .kedv .kedvv {
  text-align: center;
  line-height: 1;
  font-size: 13em;
  font-weight: bold;
  position: relative;
  padding: 0 20px 0 0;
}
/* line 1119, sass/_base.scss */
.lastminute-program-holder > .holder > .kedv .kedvv .kt {
  font-size: 0.15em;
  font-weight: 300;
  position: absolute;
  right: -68px;
  top: 80px;
  transform: rotate(-90deg);
}
/* line 1127, sass/_base.scss */
.lastminute-program-holder > .holder > .kedv .kedvv .pr {
  font-size: 0.2em;
}
/* line 1131, sass/_base.scss */
.lastminute-program-holder > .holder > .kedv .ast-text {
  font-size: 0.7em;
  padding: 0 0 0 10px;
}
/* line 1137, sass/_base.scss */
.lastminute-program-holder > .holder > .leiras {
  flex: 1;
  padding: 0 0 0 40px;
}
/* line 1142, sass/_base.scss */
.lastminute-program-holder > .holder > .leiras > .wrapper .cimke {
  line-height: 1;
  font-size: 2.2em;
  color: #deb576;
}
/* line 1148, sass/_base.scss */
.lastminute-program-holder > .holder > .leiras > .wrapper .title {
  line-height: 1.3;
  color: black;
  font-size: 2.5em;
  margin: 0 0 25px 0;
}
/* line 1155, sass/_base.scss */
.lastminute-program-holder > .holder > .leiras > .wrapper .desc {
  font-weight: 400;
  color: #4c4c4c;
  line-height: 1.5;
}
/* line 1161, sass/_base.scss */
.lastminute-program-holder > .holder > .leiras > .wrapper .url {
  margin: 30px 0 0 0;
}
/* line 1163, sass/_base.scss */
.lastminute-program-holder > .holder > .leiras > .wrapper .url a {
  background: #deb576;
  color: white;
  font-size: 1.2em;
  padding: 10px 30px;
  text-transform: uppercase;
}

/* line 1177, sass/_base.scss */
.program-history-holder > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* line 1185, sass/_base.scss */
.program-history-holder > .wrapper article {
  padding: 0 15px;
  flex-basis: 40%;
}
/* line 1189, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper {
  border: 0.8px solid #deb576;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
}
/* line 1196, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .inf {
  background: #c39145;
  color: white;
  line-height: 1;
  flex-basis: 80px;
}
/* line 1202, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .inf .idopont {
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
}
/* line 1207, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .inf .idopont .ho {
  margin: 5px 0 0 0;
  font-weight: bold;
}
/* line 1212, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .inf .idopont .nap {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 1219, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .img {
  background: #f1f1f1;
  flex-basis: 80px;
  position: relative;
  overflow: hidden;
}
/* line 1225, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 110%;
  width: auto;
  max-width: initial;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1237, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .desc {
  padding: 10px;
  flex: 1;
  font-size: 0.9em;
}
/* line 1242, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .desc .title {
  margin: 0 0 5px 0;
}
/* line 1244, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .desc .title a {
  font-weight: bold;
}
/* line 1247, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .desc .title a:hover {
  color: #e3c08b;
}
/* line 1253, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .desc .pos {
  font-size: 0.85em;
}
/* line 1258, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .go {
  background: #383838;
  flex-basis: 30px;
}
/* line 1262, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .go a {
  display: block;
  height: 100%;
  text-align: center;
  font-size: 24px;
  color: #f2e1c8;
  position: relative;
}
/* line 1270, sass/_base.scss */
.program-history-holder > .wrapper article > .wrapper > .go a i {
  line-height: 1;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1288, sass/_base.scss */
.program-history-holder.style-simple-row > .wrapper article {
  flex-basis: 100%;
  padding: 10px 0;
}

/* line 1296, sass/_base.scss */
.bwg-container {
  width: 100% !important;
}

/* line 1299, sass/_base.scss */
.bwg-item > a {
  margin: 0 !important;
}

/* line 1305, sass/_base.scss */
.naptarstdpicker {
  padding: 2px;
  border: 0.5px solid #dbd9d9;
}
/* line 1309, sass/_base.scss */
.naptarstdpicker .naptar-submit {
  background: #deb576;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  margin: 10px 0 0 0;
  color: white;
}
/* line 1321, sass/_base.scss */
.naptarstdpicker .md-whiteframe-1dp, .naptarstdpicker .md-whiteframe-z1 {
  box-shadow: none !important;
}
/* line 1324, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__month-year {
  background: none;
  border-bottom: 0.8px solid #deb576;
}
/* line 1329, sass/_base.scss */
.naptarstdpicker .layout-margin,
.naptarstdpicker .layout-margin > * {
  margin: 0 !important;
}
/* line 1332, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__calendar-wrapper {
  width: 100%;
  max-width: 100%;
}
/* line 1337, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__calendar,
.naptarstdpicker .md-date-range-picker__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* line 1344, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__calendar > span.md-date-range-picker__calendar__grid,
.naptarstdpicker .md-date-range-picker__week > span.md-date-range-picker__calendar__grid {
  flex-basis: calc(100% / 7);
}
/* line 1349, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__week {
  background: none;
  border-bottom: 0.8px solid #e2e2e2;
}
/* line 1353, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__week .md-date-range-picker__calendar__grid {
  font-weight: 300;
  color: #696969 !important;
}
/* line 1359, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__calendar__selected {
  background: #e8cb9f;
}
/* line 1362, sass/_base.scss */
.naptarstdpicker .md-date-range-picker__calendar .md-date-range-picker__calendar__grid:hover:not(.md-date-range-picker__calendar__selected):not(.md-date-range-picker__calendar__disabled) {
  background: #fcf8f1;
}

/* line 1369, sass/_base.scss */
.programnaptar-holder > .wrapper .header {
  margin: 0 0 40px 0;
}
/* line 1371, sass/_base.scss */
.programnaptar-holder > .wrapper .header > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* line 1379, sass/_base.scss */
.programnaptar-holder > .wrapper .header > .wrapper .title {
  flex: 1;
  position: relative;
}
/* line 1382, sass/_base.scss */
.programnaptar-holder > .wrapper .header > .wrapper .title h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  display: block;
}
/* line 1388, sass/_base.scss */
.programnaptar-holder > .wrapper .header > .wrapper .title h3:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 20%;
  background: #d49f4d;
  bottom: -10px;
  left: 0;
}
/* line 1400, sass/_base.scss */
.programnaptar-holder > .wrapper .header > .wrapper .goto {
  text-align: right;
  flex-basis: 20%;
}
/* line 1403, sass/_base.scss */
.programnaptar-holder > .wrapper .header > .wrapper .goto a {
  color: #383838;
  font-size: 1.2em;
}
/* line 1407, sass/_base.scss */
.programnaptar-holder > .wrapper .header > .wrapper .goto a:hover {
  color: #deb576;
}
/* line 1415, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: initial;
  margin: 0 -10px;
}
/* line 1423, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > div {
  padding: 0 10px;
}
/* line 1427, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector {
  flex-basis: 50%;
}
/* line 1429, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper {
  border: 0.8px solid #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: initial;
}
/* line 1437, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar {
  flex: 1;
  border-right: 0.8px solid #e2e2e2;
}
/* line 1441, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .divider {
  border-top: 0.8px solid #e2e2e2;
}
/* line 1445, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .space {
  height: 10px;
  display: block;
  content: "";
}
/* line 1451, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .pre-button {
  margin: 1px 0;
  padding: 8px 15px;
  color: #828282;
  cursor: pointer;
}
/* line 1457, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .pre-button.wbg, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .pre-button:hover {
  background: #deb576;
  color: white;
  border-left: 4px solid #d49f4d;
}
/* line 1464, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event {
  background: #383838;
  padding: 10px;
  color: white;
  font-size: 0.75em;
}
/* line 1470, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event .title {
  margin: 0 0 15px 0;
}
/* line 1472, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event .title a {
  color: #e8cb9f;
  font-size: 1.2em;
}
/* line 1478, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event .date, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event .pos {
  margin: 10px 0;
}
/* line 1481, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event .date i, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event .pos i {
  color: #d49f4d;
  width: 12px;
  text-align: center;
  margin: 0 5px 0 0;
}
/* line 1490, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .sbar .hl-event .link a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  padding: 5px 0 0 0;
  display: block;
}
/* line 1502, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker {
  flex-basis: 340px;
}
/* line 1505, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}
/* line 1513, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .div {
  flex-basis: 40px;
  text-align: center;
}
/* line 1519, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .start, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .end {
  flex-basis: calc((100% - 40px) / 2 );
}
/* line 1522, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .start input[type=date], .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .end input[type=date] {
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 5px 0 !important;
  border: none;
  border-bottom: 4px solid #e2e1e1;
}
/* line 1530, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .start input[type=date]:focus, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .start input[type=date]:active, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .end input[type=date]:focus, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .end input[type=date]:active {
  border-bottom: 4px solid #deb576;
  outline: none;
}
/* line 1535, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .start input[type=date]:disabled, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .sel-dates > .end input[type=date]:disabled {
  color: #dbdbdb;
  background: none;
}
/* line 1543, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-whiteframe-1dp, .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-whiteframe-z1 {
  box-shadow: none !important;
}
/* line 1546, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__month-year {
  background: none;
  border-bottom: 0.8px solid #deb576;
}
/* line 1551, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .layout-margin,
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .layout-margin > * {
  margin: 0 !important;
}
/* line 1554, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__calendar-wrapper {
  width: 100%;
  max-width: 100%;
}
/* line 1559, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__calendar,
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* line 1566, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__calendar > span.md-date-range-picker__calendar__grid,
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__week > span.md-date-range-picker__calendar__grid {
  flex-basis: calc(100% / 7);
}
/* line 1571, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__week {
  background: none;
  border-bottom: 0.8px solid #e2e2e2;
}
/* line 1575, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__week .md-date-range-picker__calendar__grid {
  font-weight: 300;
  color: #696969 !important;
}
/* line 1581, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__calendar__selected {
  background: #e8cb9f;
}
/* line 1584, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .selector > .wrapper > .picker .md-date-range-picker__calendar .md-date-range-picker__calendar__grid:hover:not(.md-date-range-picker__calendar__selected):not(.md-date-range-picker__calendar__disabled) {
  background: #fcf8f1;
}
/* line 1591, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list {
  flex: 1;
}
/* line 1593, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper {
  border: 0.8px solid #e2e2e2;
}
/* line 1597, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .header,
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .events > .event > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 1604, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .header > div.img,
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .events > .event > .wrapper > div.img {
  flex-basis: 150px;
}
/* line 1608, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .header > div.dateplace,
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .events > .event > .wrapper > div.dateplace {
  flex-basis: 35%;
}
/* line 1612, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .header > div.title,
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .events > .event > .wrapper > div.title {
  flex: 1;
}
/* line 1617, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .header {
  background: #383838;
  color: #e3c08b;
  border-left: 5px solid #deb576;
  margin: 0;
}
/* line 1623, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .header > div {
  padding: 10px;
}
/* line 1629, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .loading {
  padding: 25px;
  font-size: 1.2em;
  text-align: center;
  color: #deb576;
}
/* line 1635, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .no-items {
  padding: 25px;
  font-size: 1.2em;
  text-align: center;
  color: black;
}
/* line 1640, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .no-items strong {
  color: #deb576;
}
/* line 1645, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event {
  font-size: 0.8em;
  border-bottom: 0.5px solid #ececec;
}
/* line 1649, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event > .wrapper {
  align-items: initial;
}
/* line 1652, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event > .wrapper > div {
  border-right: 0.5px solid #ececec;
  padding: 10px;
}
/* line 1657, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event > .wrapper > .img {
  padding: 0;
  position: relative;
  overflow: hidden;
}
/* line 1662, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event > .wrapper > .img a {
  display: block;
  height: 100%;
}
/* line 1667, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event > .wrapper > .img img {
  width: auto;
  max-width: initial;
  height: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1680, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .dateplace {
  line-height: 1.2;
  color: #4c4c4c;
}
/* line 1683, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .dateplace .date, .programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .dateplace .pos {
  margin: 10px 0;
}
/* line 1686, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .dateplace .date i, .programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .dateplace .pos i {
  color: #deb576;
  margin: 0 4px 4px 0;
}
/* line 1692, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .dateplace .info-text {
  text-align: center;
  font-size: 0.8em;
  color: #7c7c7c;
}
/* line 1700, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .title h4 {
  margin: 0 0 5px 0;
}
/* line 1702, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .title h4 a {
  display: block;
  color: black;
}
/* line 1705, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .title h4 a:hover {
  color: #deb576;
}
/* line 1711, sass/_base.scss */
.programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .cont .events .event .title .desc {
  font-size: 0.9em;
  line-height: 1.2;
  color: #5c5c5c;
  height: 72px;
  overflow: hidden;
}

/* line 1731, sass/_base.scss */
body.programok-template-default.single #main {
  background: #ededed;
}
/* line 1735, sass/_base.scss */
body.programok-template-default.single .program-page-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 1741, sass/_base.scss */
body.programok-template-default.single .program-page-holder .chead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 24px;
  margin: 0 0 10px 0;
  padding: 0 5px;
  font-size: 0.95em;
  justify-content: space-between;
  line-height: 24px;
}
/* line 1754, sass/_base.scss */
body.programok-template-default.single .program-page-holder .cbg {
  background: white;
  border: 0.5px solid #c1c1c1;
}
/* line 1759, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder {
  flex: 1;
}
/* line 1762, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .pagi {
  color: #383838;
  font-size: 0.8em;
}
/* line 1766, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .pagi .sep {
  padding: 0 5px;
  color: #cacaca;
}
/* line 1773, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .labels .lab {
  padding: 0 8px;
  color: white;
}
/* line 1776, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .labels .lab.lab-grey {
  background: #383838;
  font-size: 0.85em;
}
/* line 1786, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .slide-top.imaged .cholder img {
  width: 100%;
  max-width: 100%;
}
/* line 1792, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .slide-top {
  background: #f1f1f1;
  position: relative;
}
/* line 1796, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .slide-top .idopont {
  position: absolute;
  left: 15px;
  background: #cc4f4f;
  text-align: center;
  color: white;
  top: 15px;
  padding: 10px;
  z-index: 2;
  line-height: 1.1;
}
/* line 1807, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .slide-top .idopont .ev {
  font-size: 0.8em;
  font-weight: 300px;
}
/* line 1812, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .slide-top .idopont .ho {
  font-weight: bold;
  margin: 5px 0 0 0;
}
/* line 1817, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .slide-top .idopont .nap {
  font-weight: bold;
  font-size: 1.3em;
}
/* line 1824, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0 15px 0;
}
/* line 1835, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .share .text {
  padding: 0 15px 0 0;
  color: black;
}
/* line 1840, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .share .shares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
/* line 1848, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .share .shares > div {
  padding: 0 1px;
}
/* line 1852, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .share .shares a {
  display: block;
  border-radius: 20px;
  background: #acacac;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  font-size: 10px;
}
/* line 1866, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .desc {
  padding: 0 20px;
  color: #656565;
  line-height: 1.5;
}
/* line 1873, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .content-groups .cgroup {
  margin: 0 0 10px 0;
  padding: 10px 20px;
}
/* line 1877, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .content-groups .cgroup > .header {
  line-height: 1.2;
  padding: 5px 0;
  margin: 0 0 10px 0;
  font-size: 1.35em;
  font-weight: bold;
  border-bottom: 1px solid #f1f1f1;
}
/* line 1886, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .content-holder .content-groups .cgroup .cin {
  color: #656565;
  line-height: 1.5;
}
/* line 1893, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar {
  flex-basis: 380px;
}
/* line 1897, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .links a {
  display: block;
  color: #3c3c3c;
  text-decoration: underline;
  margin: 2px 0;
}
/* line 1906, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .map .map-holder {
  border: 0.5px solid #d6d6d6;
}
/* line 1909, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .map .map-holder .head {
  padding: 10px;
  color: #cc4f4f;
}
/* line 1913, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .map .map-holder .head .address {
  color: #4c4c4c;
  margin: 5px 0 0 0;
  font-weight: bold;
  font-size: 0.85em;
}
/* line 1921, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .map .map-holder iframe {
  width: 100%;
  height: 220px;
}
/* line 1929, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .chead .visiting {
  flex-basis: 100%;
  background: #cc4f4f;
  color: white;
  line-height: 24px;
  padding: 0 8px;
  font-size: 0.85em;
}
/* line 1941, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .cbg .title h1 {
  margin: 0;
  color: #cc4f4f;
  font-size: 1.35em;
}
/* line 1947, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .cbg .divider {
  height: 1px;
  background: #c1c1c1;
}
/* line 1950, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .cbg .divider.wm {
  margin: 0 15px;
}
/* line 1955, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .cbg .sidebar-in {
  padding: 15px;
}
/* line 1958, sass/_base.scss */
body.programok-template-default.single .program-page-holder > .program-sidebar .cbg .sidebar-in h3 {
  margin: 0 0 20px 0;
  color: #2c2c2c;
  font-size: 1.35em;
}

/* line 1970, sass/_base.scss */
.rev_slider_wrapper .shadow-left,
.rev_slider_wrapper .shadow-right {
  background: none !important;
}
