@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
/* line 1, sass/_base.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 4, sass/_base.scss */
#main {
  padding: 30px 0 !important;
}

/* line 7, sass/_base.scss */
.fusion-header {
  background: #383838 !important;
  padding: 0;
}

/* line 11, sass/_base.scss */
.fusion-header-wrapper {
  background: #383838;
  color: #e3c18b;
  border-top: 2px solid #d9aa61;
}

/* line 17, sass/_base.scss */
.header-container > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 26, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 60px;
  line-height: 60px;
}
/* line 34, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site {
  height: 100%;
  padding: 0 1px;
}
/* line 37, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site a {
  display: block;
  height: 100%;
  padding: 0 25px;
  color: #eaeaea;
  background: #5e5e5e;
  border-top: 2px solid #deb576;
  margin-top: -2px;
}
/* line 46, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site a a:hover {
  color: white;
}
/* line 52, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.current-site a {
  background: none;
}
/* line 58, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.site-gastro a {
  border-top: 2px solid #deb576;
}
/* line 63, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.site-consulting a {
  border-top: 2px solid #4285f4;
}
/* line 68, sass/_base.scss */
.header-container > .wrapper > .site-navs .holder > .site.site-sport a {
  border-top: 2px solid #c73b3b;
}
/* line 75, sass/_base.scss */
.header-container > .wrapper > .site-navs a.logo img {
  max-height: 40px;
  height: 40px;
  vertical-align: middle;
  margin-top: -4px;
}
/* line 84, sass/_base.scss */
.header-container > .wrapper > .menu {
  flex: 1;
}
/* line 88, sass/_base.scss */
.header-container > .wrapper > .social {
  flex-basis: 200px;
  text-align: right;
  line-height: 60px;
  padding: 0 15px 0 0;
}
/* line 93, sass/_base.scss */
.header-container > .wrapper > .social .fusion-social-networks-wrapper {
  margin: 0;
}
/* line 95, sass/_base.scss */
.header-container > .wrapper > .social .fusion-social-networks-wrapper > a {
  background: #deb576;
  color: white !important;
  padding: 5px;
  font-size: 12px;
  margin: 0 5px;
  border-radius: 30px;
}
/* line 107, sass/_base.scss */
.header-container .menu {
  height: 60px;
}
/* line 109, sass/_base.scss */
.header-container .menu .menu-fomenu-container {
  height: 100%;
}
/* line 112, sass/_base.scss */
.header-container .menu a, .header-container .menu a:visited, .header-container .menu a:hover {
  color: #deb576;
  font-weight: 300;
}
/* line 116, sass/_base.scss */
.header-container .menu ul, .header-container .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
/* line 123, sass/_base.scss */
.header-container .menu a {
  display: block;
  padding: 0 20px;
  height: 100%;
  line-height: 60px;
}
/* line 129, sass/_base.scss */
.header-container .menu ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}
/* line 137, sass/_base.scss */
.header-container .menu ul.menu > li {
  border-right: 0.5px solid #c0862e;
}
/* line 142, sass/_base.scss */
.header-container .menu ul.sub-menu {
  display: none;
}

/* line 149, sass/_base.scss */
.fusion-main-menu > a,
.fusion-main-menu .menu-item > a {
  text-transform: uppercase;
  font-weight: 300;
}

/* line 153, sass/_base.scss */
.fusion-main-menu > ul > li {
  padding: 15px 0 !important;
}

/* line 156, sass/_base.scss */
.fusion-main-menu > ul > li > a {
  padding: 0 12px !important;
  border-right: 1px solid #efe6d3;
}

/* line 160, sass/_base.scss */
.fusion-main-menu > ul > li:last-child > a {
  border-right: none !important;
}

/* line 163, sass/_base.scss */
.fusion-main-menu > ul > li.current-menu-item > a {
  font-weight: bold;
}

/* line 166, sass/_base.scss */
.fusion-secondary-main-menu {
  background-color: transparent !important;
}

/* line 175, sass/_base.scss */
.info-box-bg h3 {
  font-size: 26px !important;
}
/* line 179, sass/_base.scss */
.info-box-bg .info-text-big {
  font-size: 22px;
  line-height: 1.3;
  color: #3b3b3b;
}

/* line 186, sass/_base.scss */
.fusion-title.fusion-sep-none {
  position: relative;
}

/* line 190, sass/_base.scss */
.fusion-header-tagline {
  font-weight: 400 !important;
}

/* line 194, sass/_base.scss */
.square-btn-big {
  font-weight: 800 !important;
  font-family: 'Open Sans' !important;
}

/* line 198, sass/_base.scss */
.rest-page-width {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto !important;
}

/* line 204, sass/_base.scss */
.abs-img-cont img {
  margin-top: -60px !important;
}

/* line 209, sass/_base.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 213, sass/_base.scss */
.big-bold-opensans h2 {
  font-family: 'Open Sans';
  font-size: 28px !important;
  font-weight: 800 !important;
}

/* line 219, sass/_base.scss */
.contact-block-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #231f20;
}
/* line 227, sass/_base.scss */
.contact-block-holder a {
  color: #231f20;
}
/* line 231, sass/_base.scss */
.contact-block-holder .contact {
  flex-basis: 30%;
}
/* line 234, sass/_base.scss */
.contact-block-holder .contact-form {
  flex-basis: 70%;
}
/* line 237, sass/_base.scss */
.contact-block-holder i {
  color: #deb576;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 8px;
}
/* line 245, sass/_base.scss */
.contact-block-holder h3, .contact-block-holder h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
/* line 251, sass/_base.scss */
.contact-block-holder h3 {
  color: #deb576;
  font-size: 30px;
  line-height: 1.2;
}
/* line 256, sass/_base.scss */
.contact-block-holder h4 {
  color: #231f20;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 25px;
}
/* line 263, sass/_base.scss */
.contact-block-holder .items {
  font-size: 0.9em;
}
/* line 266, sass/_base.scss */
.contact-block-holder .items > div {
  line-height: 1;
  margin: 18px 0;
}

/* line 273, sass/_base.scss */
.alert-danger {
  color: #ffffff;
  background-color: #ff7373;
  border-color: #f1605e;
}

/* line 280, sass/_base.scss */
.contact-form-holder .requester-holder {
  background: #f1f1f2;
  padding: 20px;
  margin: 0 auto;
}
/* line 286, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input, .contact-form-holder .requester-holder .flxtbl textarea {
  line-height: 45px;
  height: 45px;
  border: none;
  padding: 0 10px;
  color: #a99d84;
  margin-bottom: 5px;
  width: 100%;
  max-width: 100%;
}
/* line 295, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input::-webkit-input-placeholder, .contact-form-holder .requester-holder .flxtbl textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6d6e70;
}
/* line 298, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input::-moz-placeholder, .contact-form-holder .requester-holder .flxtbl textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #6d6e70;
}
/* line 301, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input:-ms-input-placeholder, .contact-form-holder .requester-holder .flxtbl textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #6d6e70;
}
/* line 304, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input:-moz-placeholder, .contact-form-holder .requester-holder .flxtbl textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #6d6e70;
}
/* line 308, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input.missing, .contact-form-holder .requester-holder .flxtbl textarea.missing {
  outline: 2px solid #ffa2a2;
}
/* line 312, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl textarea {
  line-height: 1.4;
  padding: 10px;
  font-size: 0.8em;
  min-height: 80px;
}
/* line 318, sass/_base.scss */
.contact-form-holder .requester-holder .flxtbl input[type=number] {
  font-size: 0.8em;
}
/* line 324, sass/_base.scss */
.contact-form-holder .btns {
  text-align: center;
}
/* line 326, sass/_base.scss */
.contact-form-holder .btns #mail-msg {
  margin: 15px auto;
}
/* line 329, sass/_base.scss */
.contact-form-holder .btns button {
  cursor: pointer;
  border: 2px solid #6d6e70;
  background: transparent;
  color: #6d6e70;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 25px 0 0 0;
  font-family: 'Open Sans', sans-serif;
}
/* line 340, sass/_base.scss */
.contact-form-holder .btns button.sended {
  border: 2px solid #2e8643;
  background: #53af69;
  color: #ffffff;
}
/* line 345, sass/_base.scss */
.contact-form-holder .btns button.sended i {
  color: white;
}

/* line 353, sass/_base.scss */
.fusion-footer-widget-area {
  background: white;
  border-top-width: 0 !important;
  padding: 30px !important;
}

/* line 358, sass/_base.scss */
.fusion-footer-copyright-area {
  background: #2d2d2d;
  color: #deb576 !important;
  padding: 15px;
  border-top: none !important;
}

/* line 364, sass/_base.scss */
.fusion-copyright-notice {
  color: #deb576 !important;
}

/* line 369, sass/_base.scss */
footer .fusion-social-networks {
  margin: 0 !important;
}
/* line 372, sass/_base.scss */
footer .fusion-social-networks-wrapper {
  margin: 0 !important;
}
/* line 374, sass/_base.scss */
footer .fusion-social-networks-wrapper > a {
  background: #deb576;
  color: white !important;
  padding: 5px !important;
  font-size: 12px !important;
  margin: 0 5px !important;
  border-radius: 30px !important;
}

/* line 386, sass/_base.scss */
.fusion-footer .footer-nav {
  background: #bf9452;
  color: white;
  padding: 15px 0;
}
/* line 391, sass/_base.scss */
.fusion-footer .footer-nav a, .fusion-footer .footer-nav a:visited {
  color: white;
}
/* line 394, sass/_base.scss */
.fusion-footer .footer-nav > .fusion-row {
  max-width: 1100px;
}
/* line 398, sass/_base.scss */
.fusion-footer .footer-nav ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 406, sass/_base.scss */
.fusion-footer .footer-nav ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 410, sass/_base.scss */
.fusion-footer .footer-nav ul.menu li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
/* line 416, sass/_base.scss */
.fusion-footer .footer-nav ul.menu li a:hover {
  color: #e8d9c2;
}

/* line 425, sass/_base.scss */
.fusion-copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* line 432, sass/_base.scss */
.fusion-copyright-content > div.fusion-social-links-footer {
  flex-basis: 140px;
}
/* line 435, sass/_base.scss */
.fusion-copyright-content > div.fusion-copyright-notice {
  flex-basis: 40%;
}
/* line 438, sass/_base.scss */
.fusion-copyright-content > div.footer-custom-contacts {
  flex: 1;
}

/* line 443, sass/_base.scss */
.footer-custom-contacts {
  font-size: 0.8em;
  color: #e8cb9f;
}
/* line 446, sass/_base.scss */
.footer-custom-contacts a, .footer-custom-contacts a:visited {
  color: #e8cb9f;
}
/* line 449, sass/_base.scss */
.footer-custom-contacts > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/* line 457, sass/_base.scss */
.footer-custom-contacts > .wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 1.2;
  padding: 0 5px;
}
/* line 467, sass/_base.scss */
.footer-custom-contacts > .wrapper > div .ico i {
  font-size: 25px;
  margin: 0 10px 0 0;
}

/* line 476, sass/_base.scss */
.footer-block-content {
  background: #deb576;
  color: white;
  position: relative;
  padding: 25px 0;
}
/* line 482, sass/_base.scss */
.footer-block-content .fake-bg {
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  height: 100%;
  bottom: 0;
  background: #2b2b2b;
  z-index: 1;
}
/* line 492, sass/_base.scss */
.footer-block-content > .wrapper {
  position: relative;
  z-index: 2;
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 503, sass/_base.scss */
.footer-block-content > .wrapper > div {
  flex-basis: 50%;
}
/* line 506, sass/_base.scss */
.footer-block-content > .wrapper > div h3 {
  font-size: 1.4em;
  margin: 0;
}
/* line 511, sass/_base.scss */
.footer-block-content > .wrapper > div h3 + div.div {
  height: 5px;
  background: #d49f4d;
  display: block;
  width: 30%;
  margin: 10px 0;
  float: left;
}
/* line 520, sass/_base.scss */
.footer-block-content > .wrapper > div .cont {
  margin: 20px 0 0 0;
}
/* line 524, sass/_base.scss */
.footer-block-content > .wrapper > div:first-child {
  padding: 0 25px 0 0;
}
/* line 527, sass/_base.scss */
.footer-block-content > .wrapper > div:last-child {
  padding: 0 0 0 25px;
}

/* line 534, sass/_base.scss */
.group-widget-logos-holder > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 542, sass/_base.scss */
.group-widget-logos-holder > .wrapper > div {
  flex-basis: calc(100% / 3);
  text-align: center;
}
/* line 545, sass/_base.scss */
.group-widget-logos-holder > .wrapper > div a {
  display: block;
  text-align: center;
}
/* line 549, sass/_base.scss */
.group-widget-logos-holder > .wrapper > div a img {
  width: auto;
  height: 150px;
  margin: 0 auto;
}

/* line 559, sass/_base.scss */
.fusion-modal h1, .fusion-page-title-bar h1, .fusion-widget-area h1, .post-content h1 {
  font-size: 2.2em;
  color: black;
  font-weight: bold;
  position: relative;
}
/* line 565, sass/_base.scss */
.fusion-modal h1:after, .fusion-page-title-bar h1:after, .fusion-widget-area h1:after, .post-content h1:after {
  content: "";
  height: 5px;
  background: #deb576;
  width: 40%;
  position: absolute;
  left: 0;
  bottom: -10px;
}

/* line 576, sass/_base.scss */
.programs-slider-controller {
  background: #e8e8e8;
}
/* line 578, sass/_base.scss */
.programs-slider-controller > .wrapper {
  width: 1100px;
  margin: 0 auto;
}

/* line 584, sass/_base.scss */
.divided-title {
  border-bottom: none !important;
}
/* line 586, sass/_base.scss */
.divided-title h1 {
  font-size: 1.8em !important;
  text-transform: uppercase !important;
  color: #2d2d2d;
}
/* line 590, sass/_base.scss */
.divided-title h1:after {
  width: 20% !important;
  left: 50%;
  transform: translateX(-50%);
  background: #c99c58 !important;
}

/* line 600, sass/_base.scss */
.program-slider-holder .nav-slides {
  width: 1100px;
  margin: 0 auto;
}
/* line 603, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 609, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide {
  flex-basis: calc(100% / 3);
  text-align: center;
  border-top: 4px solid #deb576;
  border-right: 0.5px solid #deb576;
}
/* line 616, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper a {
  padding: 15px;
  color: #273034;
  text-decoration: none;
  display: block;
}
/* line 624, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .ico i {
  color: #d49f4d;
  font-size: 15px;
}
/* line 630, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .title {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 635, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .subtitle {
  font-size: 0.9em;
  margin-top: 5px;
}
/* line 641, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide:last-child {
  border-right: none !important;
}
/* line 645, sass/_base.scss */
.program-slider-holder .nav-slides > .wrapper > div.slide.active {
  background: white;
}
/* line 652, sass/_base.scss */
.program-slider-holder .programs-slider-views {
  background: white;
  padding: 30px 0 0 0;
}
/* line 655, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper {
  width: 1100px;
  margin: 0 auto;
}
/* line 659, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .header {
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 2px solid #deb576;
}
/* line 664, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .header .title {
  font-weight: bold;
  color: #273034;
  font-size: 1.8em;
}
/* line 671, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide {
  display: none;
  font-size: 0.9em;
}
/* line 676, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}
/* line 683, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > div {
  padding: 0 10px;
}
/* line 687, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image {
  flex-basis: 25%;
}
/* line 689, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image a {
  display: block;
}
/* line 693, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image .wrapper {
  height: 13vh;
  position: relative;
  overflow: hidden;
}
/* line 698, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image img {
  width: auto;
  max-width: initial;
  height: 110%;
  max-height: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 710, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .params {
  flex-basis: 25%;
}
/* line 713, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .info {
  flex: 1;
}
/* line 717, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header {
  border-bottom: 0.5px solid #deb576;
}
/* line 719, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header .title {
  text-transform: uppercase;
  font-size: 1.1em;
}
/* line 723, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header .title i {
  color: #d49f4d;
  font-size: 15px;
}
/* line 730, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .c {
  line-height: 1.4;
  margin: 0 0 10px 0;
}
/* line 737, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide.active {
  display: block;
}
/* line 741, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide a.more {
  background: #2d2d2d;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
}
/* line 748, sass/_base.scss */
.program-slider-holder .programs-slider-views > .wrapper .slide a.more:hover {
  background: #deb576;
}

/* line 764, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
}
/* line 770, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper > div {
  flex-basis: calc(100% / 3);
  text-align: center;
  font-size: 0.9em;
}
/* line 775, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper > div .v {
  font-size: 2.4em !important;
  margin: 0 0 10px 0 !important;
}
/* line 779, sass/_base.scss */
.program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper > div .stext {
  font-weight: 300;
}
/* line 786, sass/_base.scss */
.program-slider-helper-holder.ctrl-jelentkezes {
  text-align: center;
  line-height: 60px !important;
}
/* line 789, sass/_base.scss */
.program-slider-helper-holder.ctrl-jelentkezes a {
  display: block;
  color: white;
  text-align: center;
  font-size: 2.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 802, sass/_base.scss */
.program-list-holder > .holder > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  align-items: initial;
}
/* line 810, sass/_base.scss */
.program-list-holder > .holder > .list > div {
  flex-basis: calc(100% / 3);
  padding: 0 10px;
}
/* line 814, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper {
  background: white;
  border: 0.8px solid #e0cfb6;
  height: 100%;
}
/* line 820, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image a {
  display: block;
}
/* line 824, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image .wrapper {
  height: 18vh;
  position: relative;
  overflow: hidden;
}
/* line 829, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .image img {
  width: auto;
  max-width: initial;
  height: 110%;
  max-height: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 842, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas {
  padding: 10px 15px;
  font-size: 0.8em;
}
/* line 846, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas .title {
  margin: 0 0 10px 0;
}
/* line 847, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas .title a {
  font-weight: bold;
  color: #272727;
  font-size: 1.3em;
}
/* line 855, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .datas .desc {
  height: 80px;
  max-height: 80px;
  overflow: hidden;
  line-height: 1.2;
}
/* line 863, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: initial;
  border-top: 0.5px solid #e5d3b5;
}
/* line 871, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button {
  flex-basis: 40%;
}
/* line 874, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button a {
  display: block;
  height: 100%;
  background: #272727;
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 887, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button a .t {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 895, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .button a:after {
  display: none;
}
/* line 901, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .info {
  flex: 1;
  font-size: 0.7em;
  padding: 10px;
  color: #d49f4d;
}
/* line 907, sass/_base.scss */
.program-list-holder > .holder > .list > div > .wrapper .more > .info i {
  width: 24px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
