.mobile-nav-bar{
  color: $color-pr;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  i{
    font-size: 42px;
  }
}

@media all and (max-width:1050px)
{
  .show-on-mobile{
    display: block;
  }

  .header-container .menu ul.menu > li > .sub-menu{
    z-index: 1;
    top: 46px;
    left: 5px;
    width: 95%;
    min-width: 95%;
  }


  .header-container > .wrapper > .social .fusion-social-networks-wrapper{
    text-align: center;
  }

  // WIDTH 100%
  .program-slider-holder .nav-slides,
  .program-slider-holder .programs-slider-views > .wrapper,
  .footer-block-content > .wrapper{
    width: 100%;
  }
  .header-container > .wrapper,
  .header-container .menu ul.menu{
    flex-wrap: wrap;
  }

  .header-container > .wrapper > .site-navs{
    position: relative;
  }

  // FLEX BASIS 100%
  .header-container > .wrapper > .menu,
  .header-container > .wrapper > .social,
  .header-container > .wrapper > .site-navs,
  .header-container > .wrapper > .site-navs .holder > .site,
  .header-container .menu ul.menu > li{
    flex-basis: 100%;
  }
  .header-container > .wrapper > .site-navs .holder{
    justify-content: center;
    height: auto;
    line-height: 1;
  }
  .header-container > .wrapper > .site-navs a.logo img{
    height: auto;
    max-height: initial;
    margin: 0 auto;
  }
  .header-container > .wrapper > .site-navs .holder > .site a{
    border-top: none !important;
    overflow: auto;
    text-align: center;
    padding: 25px;
  }
  .header-container .menu ul.menu > li.current_page_item{
    box-shadow: none;
    background: $color-pr;
    a{
      color: white;
    }
  }
  .header-container .menu ul.menu > li{
    border-bottom: 0.5px solid #3c3c3c;
  }
  .header-container .menu ul.menu > li > a .ico{
    float: left;
    margin: 0 10px 0 0;
    width: 25px;
  }
  .header-container .menu ul.menu > li > a .ico i{
    vertical-align: middle;
    font-size: 24px;
  }
  .header-container .menu ul.menu > li > a{
    padding: 15px;
    font-size: 2.3vh;
  }
  .header-container > .wrapper > .site-navs .holder > .site:not(.current-site){
    display: none;
  }
  .header-container > .wrapper > .site-navs a.logo img{
    max-width: 80%;
    width: 80%;
  }
  .fusion-header-wrapper .fusion-header{
    padding: 0 !important;
  }
  .header-container .menu{
    height: auto;
    background: darken($color-header, 10%);
  }
  .header-container > .wrapper > .social{
    padding: 0;
  }
  .fusion-social-networks{
    padding: 0 !important;
  }
  .program-slider-helper-holder.ctrl-deadline .dateback-holder > .wrapper > timer > div{
    font-size: 1.8vh !important;
  }
  .header-container .menu .menu-fomenu-container{
    display: none;
    &.opened{
      display: block;
    }
  }
  .program-slider-holder .programs-slider-views{
    padding: 15px;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image,
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .params{
    flex-basis: 50%;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .info{
    flex-basis: 100%;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header .title{
    font-size: 2vh;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .info .header{
    margin: 15px 0 10px 0;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .c{
    font-size: 1.8vh;
  }
  .programnaptar-holder{
    padding: 0 15px;
  }
  .programnaptar-holder > .wrapper .napcoltroller > .holder > .selector{
    flex-basis: 100%;
  }
  .footer-block-content{
    padding: 15px;
  }
  .fusion-copyright-content > div.fusion-social-links-footer,
  .fusion-copyright-content > div.fusion-copyright-notice,
  .fusion-copyright-content > div.footer-custom-contacts{
    flex-basis: 100%;
    text-align: center;
    padding: 15px;
  }
  .footer-custom-contacts > .wrapper > div{
    flex-basis: calc(100% / 3);
  }
  body.programok-template-default.single .program-page-holder > .program-sidebar{
    flex-basis: 100%;
  }
  body.programok-template-default.single #main{
    padding: 10px 0 !important;
  }
  body.programok-template-default.single .program-page-holder > .content-holder .pagi{
    font-size: 1.4vh;
  }
  body.programok-template-default.single .program-page-holder .chead{
    padding: 0;
    margin: 0px 10px 10px 10px;
    height: auto;
  }
  body.programok-template-default.single .program-page-holder > .program-sidebar .chead .visiting{
    padding: 10px;
    text-align: center;
    line-height: 1.3;
    height: auto;
    font-size: 2vh;
  }
  body.programok-template-default.single .program-page-holder > .program-sidebar .cbg .sidebar-in h3{
    font-size: 2.5vh;
  }
  body.programok-template-default.single .program-page-holder > .program-sidebar .szallas-spot .top .title{
    font-size: 3vh;
  }
  body.programok-template-default.single .program-page-holder > .program-sidebar .szallas-spot .moreboxa a{
    font-size: 2vh;
  }
  .program-history-holder > .wrapper article{
    flex-basis: 100%;
  }
  .program-list-holder > .holder > .list > div{
    flex-basis: calc(100% / 2);
  }
  body.active-campaign-form-page #main{
    padding: 15px !important;
  }
  .fusion-body .fusion-page-title-bar{
    padding-top: 15px;
    padding-bottom: 5px;
  }
  body.page-template-default #main {
    padding: 10px 30px !important;
  }
  #content{
    font-size: 1.7vh;
  }
  .program-history-holder > .wrapper .no-items{
    padding: 5px 15px;
    text-align: center;
    a{
      display: block;
    }
  }
  .program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .title {
    font-size: 5vw;
    line-height: 1.4rem;
  }
  .program-slider-holder .nav-slides > .wrapper > div.slide > .wrapper .subtitle{
    font-size: 4vw;
  }
}

@media all and (max-width:768px){

}


@media all and (max-width:480px){
  .mobile-nav-bar{
    cursor: pointer;
    i{
      font-size: 30px;
    }
  }
  .program-list-holder > .holder > .list > div > .wrapper .image .wrapper{
    height: 35vh;
  }
  .lastminute-program-holder > .holder > .leiras{
    padding: 20px 0 0 0;
  }
  .lastminute-program-holder > .holder > .kedv .ast-text{
    text-align: center;
    padding: 5px;
  }
  .lastminute-program-holder > .holder > .kedv .kedvv .kt{
    right: -55px;
  }
  .lastminute-program-holder > .holder > .kedv .kedvv{
    padding: 0;
  }
  .lastminute-program-holder > .holder > .kedv{
    flex-basis: 100%;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder .header .title{
    margin: 0 0 5px 0 !important;
  }
  .program-slider-holder .nav-slides > .wrapper > div.slide{
    flex-basis: 100%;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image{
    margin: 0 0 15px 0;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image, .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .params{
    flex-basis: 100%;
  }
  .program-list-holder > .holder > .list > div{
    flex-basis: 100%;
    padding: 5px 25px;
  }
  .lastminute-program-holder > .holder{
    padding: 15px;
  }
  .program-slider-holder .programs-slider-views > .wrapper .slide > .wrapper .cholder > .image .wrapper{
    height: 22vh;
  }
  .programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .events > .event > .wrapper > div.img,
  .programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .events > .event > .wrapper > div.dateplace{
    flex-basis: 50%;
  }
  .footer-block-content > .wrapper > div{
    flex-basis: 100%;
    padding: 15px !important;
  }
  .footer-block-content > .wrapper > div.about-us{
    background: $color-sec;
  }
  .footer-block-content .fake-bg{
    display: none;
  }
  .footer-block-content{
    padding: 0 !important;
  }
  .footer-block-content .gallery .inav {
    right: 15px;
    top: 20px;
  }
  .fusion-footer .footer-nav ul.menu{
    flex-wrap: wrap;
  }
  .fusion-footer .footer-nav ul.menu li{
    flex-basis: 100%;

    a{
      display: block;
      text-align: center;
      padding: 15px;
    }
  }
  .group-widget-logos-holder > .wrapper > div a img{
    height:7vh;
  }
  .fusion-columns .fusion-column{
    margin: 0 !important;
  }
  .footer-custom-contacts > .wrapper{
    flex-wrap: wrap;
  }
  .footer-custom-contacts > .wrapper > div{
    flex-basis: 100%;
    padding: 15px 0;
  }
  .fusion-footer-copyright-area{
    padding: 0;
  }
  .footer-custom-contacts > .wrapper > div > .ico {
    flex-basis: 20%;
  }
  .footer-custom-contacts > .wrapper > div > .d {
    flex-basis: 80%;
    text-align: left;
  }
  body.programok-template-default.single .program-page-holder .chead{
    margin: 10px;
  }
  #content{
    margin-bottom: 0 !important;
  }
  .naptarstdpicker .naptar-submit{
    font-size: 2vh;
  }
  .program-history-holder > .wrapper article > .wrapper > .desc .title{
    margin: 0 0 5px 0 !important;
  }
  .fusion-body .fusion-page-title-bar{
    padding: 15px;
  }
  body.page-template-default #main{
    padding: 0 15px 15px 15px !important;
  }
  #content{
    font-size: 2vh;
  }
  .fusion-footer .footer-nav{
    padding: 0;
  }
  .programnaptar-holder > .wrapper .napcoltroller > .holder > .programs-list > .wrapper .header > div.img{
    flex-basis: 0;
  }
}

@media all and (max-width:320px){

}
