$header-height: 60px;
$page-width: 1100px;
$size-program-slider-height: 500px;
$color-site-gastro: #deb576; // arany gastro
$color-site-consulting: #4285f4; // kék consulting
$color-site-sport: #c73b3b; // bordó borbarátok és sport
