$color-pr: #deb576;
$color-sec: #383838;
$color-header: #383838;
$color-header-menu: #e3c18b;
$color-header-site-text: #eaeaea;

// Footer
$color-footer-bg: white;
$color-footer-nav-bg: #bf9452;
$color-footer-nav-text: white;
$color-footer-copyright-bg: #2d2d2d;
$color-footer-block-content-text: white;
